.AllUser {
    .AllUser__headingTxt {
        text-align: center;
        color: var(--primary-color);
        padding-block: 8px;
    }

    .AllUser__cardContainer {
        margin-inline: auto;
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 16px;
        // justify-content: center;
        // align-items: center;

        .AllUser__userCard {
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: var(--background-color);
            border: 1px solid rgba(0, 169, 255, 0.2);
            border-radius: 4px;
            // padding-left: 8px;
            position: relative;

            .AllUser__userName {
                font-weight: 500;
                color: var(--primary-color);
                padding-top: 16px;
            }

            .AllUser__userEmail {
                color: var(--primary-color);
                padding-block: 16px;
            }
        }

    }

}